* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  background-color: $white;
}

.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

.wrap {
  width: 1024px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}