$white: #ffffff;
$auth-menu-black: #424242;
$top-menu-grey1: #cecece;
$top-menu-grey2: #cacaca;
$top-menu-grey3: #6d6d6d;
$top-menu-grey4: #d6d6d6;
$top-menu-grey5: #696969;
$top-menu-grey6: #555454;
$top-menu-green: #79b260;
$top-cat-grey: #5b5b5b;