.auth-menu {
  $root: &;

  background-color: $auth-menu-black;
  height: 28px;

  & #{$root}__items {
    list-style: none;
    text-align: right;
  }

  & #{$root}__item {
    display: inline-block;
    line-height: 28px;
    margin-right: 20px;

    &:last-of-type {
      margin-right: 20px;
    }

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: darken($white, 10%);
      }
    }
  }
}