.books-window {
  flex-basis: 800px;
  display: flex;
  flex-direction: column;

  .books-window__tabs {
    list-style: none;
    font-size: 0;
    display: block;
  }

  .books-window__tab {
    position: relative;
    display: inline-block;
    font-size: 17px;
    width: 143px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    border: 1px solid #d8dce0;
    color: #6b6969;
    background: linear-gradient(to top, #e4e4e4 0, #fbfbfb 100%);
    text-shadow: 1px 1px 1px rgba(255,255,255,1);
    cursor: pointer;

    &:after {
      display: none;
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 141px;
      height: 1px;
      margin: 0 auto;
      background: $white;
    }

    &:first-child {
      border-top-left-radius: 2px;
    }

    &:last-child {
      border-top-right-radius: 2px;
    }

    &.active, &:hover {
      background: $white;
      color: #464646;

      &:after {
        display: block;
      }
    }
  }

  .book-window__content  {
    border: 1px solid #d8dce0;
    flex-grow: 1;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
  }

  .book-window__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    padding: 25px;
  }

  .book-window__item {
    position: relative;
    height: 230px;
    width: 110px;
    margin-right: 30px;
    margin-bottom: 25px;

    &:nth-child(5n) {
      margin-right: 0;
    }

    &:nth-last-child(-n+5) {
      margin-bottom: 0;
    }

    > a {
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
    }

    .item-img__wrap {
      width: 100%;
      border: 5px solid $white;
      border-radius: 5px;
      box-shadow: 0 0 16px rgba(0,0,0,0.2);

      img {
        display: block;
        height: 100%;
        width: auto;
        max-height:100%;
        margin: 0 auto;
      }
    }

    &:hover {
      .item-img__wrap {
        box-shadow: 0 0 16px rgba(0,0,0,0.5);
      }
    }

    .item-title {
      height: 50px;
      text-align: center;
      overflow: hidden;
      position: relative;

      p {
        display: inline-block;
        position: relative;
        font-size: 15px;
        line-height: 15px;
        color: #595959;
        overflow: hidden;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .item-price {
      height: 20px;
      text-align: center;
      position: relative;

      p {
        display: inline-block;
        position: relative;
        font-size: 20px;
        line-height: 20px;
        color: #f05356;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .item__offer {
      position: absolute;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      top: -5px;
      right: -5px;
      background-color: #f05356;
      box-shadow: 0 0 16px rgba(238, 219, 104, 0.4);

      .item__offer-wrap {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        p {
          font-weight: 400;
          color: $white;
          text-align: center;
        }

        p:first-child {
          font-size: 15px;
        }

        p:last-child {
          font-size: 13px;
        }
      }
    }
  }

  .book-window__pagination {
    flex-basis: 28px;
    padding: 0 25px;
    text-align: right;
    font-size: 0;

    > ul {
      display: inline-block;
      list-style: none;

      > li {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-right: 3px;

        &:last-child {
          margin-right: 0;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-bottom: 3px solid transparent;
        }

        &:hover, &.active {
          &:after {
            border-bottom: 3px solid #81bd66;
          }

          > a {
            border: 1px solid #e0e0e0;
          }
        }

        > a {
          display: inline-block;
          border: 1px solid transparent;
          text-decoration: none;
          font-size: 15px;
          color: #646464;
          padding: 0 5px;
          text-align: center;
          vertical-align: middle;
          line-height: 26px;

          &:hover {
            border: 1px solid #e0e0e0;
          }
        }
      }
    }
  }
}