.breadcrumbs {
  .breadcrumbs__items-wrap {
    padding: 8px 12px;
  }

  .breadcrumbs__items {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 0 18px;
    font-size: 0;
    line-height: 28px;

    a, span {
      display: inline-block;
      font-size: 14px;
      line-height: 14px;
      color: #a6a6a6;
      text-decoration: none;
      vertical-align: middle;
    }

    a:hover {
      color: darken(#a6a6a6, 20%);
    }

    span {
      margin: 0 5px;
    }
  }
}

