.comment {
  font-size: 0;
  line-height: 0;

  h2 {
    margin: 18px 0 18px 5px;
    font-size: 20px;
    line-height: 20px;
  }

  .comment-form {
    text-align: right;

    .comment-form__field {
      height: 31px;
      margin-bottom: 12px;
      font-size: 0;
      line-height: 0;

      label, input[type="text"], textarea {
        display: inline-block;
        border-radius: 4px;
      }

      > label {
        float: left;
        font-size: 16px;
        color: #a2a2a2;
        text-align: right;
        width: 90px;
        height: 100%;
        line-height: 31px;
      }

      > input, textarea {
        font-family: "Open Sans", sans-serif;
        float: right;
        border: 1px solid #e2e2e2;
        height: 100%;
        width: 580px;
        font-size: 16px;
        color: #a2a2a2;
        padding-left: 5px;
        padding-right: 5px;
      }

      &.textarea {
        height: 128px;
      }

      > textarea {
        height: 128px;
        padding-top: 5px;
        padding-bottom: 5px;
        resize: none;
      }
    }

    input[type="submit"] {
      display: inline-block;
      font-size: 18px;
      line-height: 18px;
      padding: 13px 19px;
      color: $white;
      background: linear-gradient(to top, #79b260 0, #92d774 100%);
      border-radius: 4px;

      &:hover {
        color: darken($white, 5%);
        background: linear-gradient(to top, #4d7534 0, #92d774 100%);
      }
    }
  }
}