.footer {
  .footer-cat {
    min-height: 355px;
    background: url("/images/footer-bkg-1.png");
  }

  .footer-cat__items {
    display: flex;
    justify-content: space-between;
    padding: 22px;
  }

  .footer-cat__item {
    flex-basis: 23%;
    
    h2 {
      font-size: 18px;
      font-weight: 400;
      color: #dddddd;
      margin-left: 6px;
      margin-bottom: 25px;
    }

    ul {
      list-style: none;
      position: relative;
      font-size: 0;

      li {
        min-height: 23px;
        position: relative;
        
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 77%;
          border-bottom: 1px solid #565750;
        }

        a {
          text-decoration: none;
          font-size: 13px;
          color: #dddddd;
          line-height: 23px;

          &:hover {
            color: lighten(#dddddd, 20%);
          }
        }

        &:last-child {
          &::after {
            border-bottom: none;
          }
        }
      }
    }
  }

  .footer-paying {
    background: url("/images/footer-bkg-2.png");
    padding: 26px 0 10px;
    font-size: 0;
    text-align: center;
    line-height: 0;
    border-bottom: 1px solid #4f5556;

    p {
      text-align: center;
      font-size: 20px;
      line-height: 24px;
      color: #dddddd;
      margin-bottom: 14px;
    }

    img {
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .footer-copyright {
    height: 50px;
    background: url("/images/footer-bkg-2.png");
    text-align: center;
    position: relative;

    p {
      display: inline-block;
      font-size: 16px;
      color: #dddddd;

      //vertical-align: center;
      //line-height: 50px;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}