.left-categories {
  display: block;
  flex-basis: 190px;
  border: 1px solid $top-menu-grey4;

  li {
    display: block;
    padding-left: 24px;
    height: 29px;
    position: relative;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      line-height: 29px;
      vertical-align: middle;
    }

    &:last-child {
      a {
        &:after {
          border-bottom: none;
        }
      }
    }
  }

  .left-categories__header {
    font-size: 24px;
    color: #6b6969;
    margin: 12px 0 12px 18px;
  }

  .left-categories__items {
    list-style: none;

    li {
      &:hover, &.active {
        background: linear-gradient(to top, #79b260 0, #92d774 100%);

        a {
          color: $white;

          &:after {
            border-bottom: none;
          }
        }
      }

      a {
        text-decoration: none;
      }
    }
  }

  .left-categories__item {
    a {
      color: $top-menu-grey6;
      font-size: 15px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        border-bottom: 1px solid #e6e7e8;
        left: 0;
        bottom: 0;
        width: 84%;
      }
    }
  }

  .left-categories__item--group {
    padding-left: 22px;
    height: 34px;

    a {
      color: $top-menu-grey5;
      font-size: 17px;
      font-weight: 600;
      line-height: 34px;
      font-family: "Myriad Pro", "Open Sans", sans-serif;
    }
  }

  .left-categories__item--all {
    padding-left: 20px;

    a {
      color: $top-menu-grey5;
      font-size: 17px;
      font-family: "Myriad Pro", "Open Sans", sans-serif;
    }
  }
}