.product-wrap {
  padding: 0 12px;
}

.product {
  border: 1px solid #dedede;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  position: relative;

  .product__instock {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 30px;
    height: 30px;
    background-color: #d5d5d5;
    border-radius: 50%;

    &:after {
      position: absolute;
      content: "In Stock";
      width: 200%;
      font-size: 10px;
      line-height: 12px;
      color: #817f7f;
      background-color: $white;
      text-transform: uppercase;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  .product__img {
    position: relative;
    height: 393px;
    width: 252px;
    overflow: hidden;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
    }
  }

  .product__info {
    width: 645px;
    max-height: 1024px;
    overflow: hidden;

    > h2 {
      font-size: 40px;
      line-height: 40px;
      color: #595959;
      padding: 9px 70px 9px 0;
      font-family: "Myriad Pro", "Open Sans", sans-serif;
    }

    > p {
      font-size: 14px;
      line-height: 26px;
      color: #7e7e7e;
      padding: 16px 0;
    }
  }

  .product__price-cart {
    border: 1px solid #d5d2d2;
    border-radius: 2px;
    width: 612px;
    height: 174px;
    padding: 20px 20px 12px;
  }

  .product__price-cart-wrap {
    display: flex;
    justify-content: space-between;
    height: 85px;
    border-bottom: 1px solid #d1d1d1;

    .product__price {
      flex-basis: 350px;

      .product__price--cost {
        font-family: "Myriad Pro", "Open Sans", sans-serif;
        font-size: 36px;
        line-height: 36px;
        color: #015699;
        margin-left: 6px;
        margin-bottom: 10px;

        span {
          font-weight: 600;
          color: #e45858;
        }
      }

      .product__price--save {
        font-size: 17px;
        line-height: 17px;
        color: #939292;
        margin-left: 8px;
      }
    }

    .product__cart {
      .product__cart-button {
        margin: 6px 6px 0 0;
        height: 42px;
        width: 197px;
        border-radius: 2px;
        color: $white;
        font-family: "Myriad Pro", "Open Sans", sans-serif;
        font-size: 25px;
        line-height: 25px;
        background: linear-gradient(to top, #79b260 0, #92d774 100%);
        cursor: pointer;

        &:hover {
          color: darken($white, 10%);
        }
      }
    }
  }

  .product__info-card {
    font-size: 0;

    p {
      margin: 8px 0;
      color: #939292;
      font-size: 13px;
      line-height: 13px;

      img {
        line-height: 13;
        vertical-align: bottom;
        margin-right: 5px;
      }
    }

    > img {
      width: 40px;
      height: 26px;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.product__details {
  margin: 12px 0 12px;
  display: flex;
  justify-content: space-between;

  .product__detail {
    flex-basis: 725px;
  }

  .product__tabs {
    list-style: none;
    font-size: 0;
    height: 38px;
    line-height: 38px;

    .product__tab {
      position: relative;
      display: inline-block;
      background-color: #c2c2c2;
      height: 34px;
      line-height: 34px;
      cursor: pointer;
      border: 1px solid #d5d2d2;
      border-bottom: none;
      border-radius: 4px 4px 0 0;
      margin-right: 10px;
      vertical-align: bottom;
      font-size: 0;
      text-align: center;

      span {
        text-wrap: none;
        max-width: 100%;
        font-size: 16px;
        display: inline-block;
        line-height: 32px;
        color: $white;
        max-height: 32px;
        overflow: hidden;
      }

      &:nth-child(1) {
        width: 210px;
      }

      &:nth-child(2) {
        margin-right: 0;
        width: 135px;
      }

      &:hover, &.active {
        height: 38px;
        line-height: 38px;
        background-color: $white;

        span {
          font-size: 18px;
          line-height: 36px;
          color: #7e7e7e;
        }

        &:after {
          position: absolute;
          content: "";
          left: 0;
          bottom: -1px;
          width: 100%;
          height: 1px;
          border-bottom: 1px solid $white;
        }
      }
    }
  }

  .product__tabs-content {
    border: 1px solid #d5d2d2;
    border-radius: 0 0 4px 4px;
    padding: 24px;
  }

  .product__tab-content {
    display: none;

    p {
      font-size: 14px;
      line-height: 26px;
      color: #7e7e7e;
    }

    &.active {
      display: block;
    }
  }

  .product-like {
    border: 1px solid #dedede;
    border-radius: 6px;
    flex-basis: 250px;
    margin-top: 38px;

    h2 {
      font-size: 18px;
      font-weight: 400;
      color: #7e7e7e;
      padding: 16px 14px;
    }
  }

  .product-like__item {
    height: 107px;
    border-bottom: 1px solid #dedede;
    display: flex;
    justify-content: space-between;
    padding: 5px 12px;
    margin-top: 5px;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      .product-like__item-img {
        box-shadow: 1px 1px 16px rgba(0,0,0,0.5);
      }
    }

    .product-like__item-img {
      position: relative;
      border: 5px solid $white;
      border-radius: 5px;
      box-shadow: 1px 1px 16px rgba(0,0,0,0.2);
      width: 60px;
      height: 88px;
      overflow: hidden;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }

    .product-like__item-img-info {
      flex-basis: 155px;
      max-width: 155px;

      .product-like__item-title {
        font-size: 15px;
        line-height: 17px;
        color: #595959;
        margin: 6px 0;
        height: 17px;
        overflow: hidden;
      }

      .product-like__item-price {
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
        color: #f05356;
      }

      a {
        display: inline-block;
        text-decoration: none;
        font-size: 15px;
        color: $white;
        background-color: #595959;
        border-radius: 5px;
        margin-top: 5px;
        padding: 6px 8px;
        cursor: pointer;

        &:hover {
          color: darken($white, 10%);
        }
      }
    }
  }
}

.product-review {
  margin-top: 16px;
  border: 1px solid #d5d2d2;
  border-radius: 5px;
  padding: 20px;
  
  h2 {
    font-size: 20px;
    font-weight: 400;
    color: #7e7e7e;
    margin-left: 5px;
  }

  .product-review__item {
    margin: 20px 5px 0;
    display: flex;
    justify-content: space-between;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      border-bottom: 1px solid #e3e3e3;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    &:last-of-type{
      &:after {
        border-bottom: none;
      }
    }
  }

  .product-review__item-user {
    margin-right: 15px;
    flex-basis: 63px;
    max-width: 63px;
    font-size: 0;
    line-height: 0;

    > img {
      width: 63px;
      height: 64px;
    }

    > p {
      overflow: hidden;
      display: inline-block;
      text-align: center;
      font-size: 14px;
      line-height: 26px;
      color: #a2a2a2;
      width: 100%;
      margin: 6px 0;
    }
  }

  .product-review__item-post {
    flex-grow: 1;
    > p {
      font-size: 13px;
      line-height: 21px;
      color: #7e7e7e;
    }
  }
}