.owl-carousel {
  position: relative;
  height: 100%;
  width: 100%;

  .owl-stage-outer {
    height: 100%;
  }

  .owl-stage {
    height: 100%;
  }

  .owl-item {
    position: relative;
    height: 100%;
    overflow: hidden;

    .item-img-wrap {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        height: 100%;
        width: auto;
        max-height:100%;
        margin: 0 auto;

        // 1
        //height: 100%;
        //width: auto;
        //max-height:100%;
        //margin: 0 auto;

        // 2
        //position: absolute;
        //top: 0;
        //left: 0;
        //width: 100%;
        //height: 100%;

        // 3
        //position: absolute;
        //left: 50%;
        //top: 50%;
        //transform: translate(-50%, -50%);
        //min-width: 100%;
        //min-height: 100%;
        //width: auto;
        //height: auto;

        // 4
        //object-fit: contain;
        //height: 100%;
        //width: 100%;
      }

      .item-img-title-wrap {
        position: absolute;
        top: 130px;
        left: 280px;
        width: 380px;

        p {
          color: $white;
          text-align: center;
          margin: 0 0 10px;
        }

        .item-img-title_01 {
          font-size: 47px;
          line-height: 47px;
        }

        .item-img-title_02 {
          font-size: 25px;
          line-height: 25px;
        }

        .item-img-title_03 {
          font-size: 21px;
          line-height: 21px;
        }
      }
    }
  }
}

.slider {
  padding: 11px 12px 0;
  height: 316px;
  display: flex;
  justify-content: space-between;

  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 714px;

    .slider-wrapper__prev, .slider-wrapper__next {
      position: absolute;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      z-index: 10;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.38);

      > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .slider-wrapper__prev {
      left: 12px;
    }

    .slider-wrapper__next {
      right: 12px;
    }
  }

  .slider-deal {
    position: relative;
    height: 100%;
    width: 270px;
    text-align: center;
    background: radial-gradient(circle at center, #b8b8b8 0%, #535353 100%);

    > .header {
      padding: 13px 5px 0;
      margin: 0;
      font-size: 27px;
      line-height: 27px;
      color: $white;
      text-align: center;
    }

    > .book_name {
      padding-top: 5px;
      margin: 0;
      color: $white;
      text-align: center;
      font-size: 15px;
      line-height: 15px;
    }

    > .book_block {
      position: relative;
      height: 140px;
      width: 100%;

      > .book_base {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        height: 13px;
        width: 176px;
        background-color: $white;

        &:before {
          box-sizing: border-box;
          content: "";
          display: block;
          position: absolute;
          bottom: 13px;
          left: 50%;
          transform: translateX(-50%);
          width: 176px;
          border: 13px solid transparent;
          border-bottom-color: #dddddd;
        }
      }

      > .book_img {
        display: block;
        position: absolute;
        height: 111px;
        width: 84px;
        bottom: 17px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    > .book_profit {
      font-size: 21px;
      line-height: 21px;
      color: $white;
      text-align: center;
      margin: 5px 0 0;
    }

    > .book_price {
      font-size: 29px;
      line-height: 29px;
      color: $white;
      text-align: center;
      margin: 4px 0 0;
    }

    > .book_buy {
      margin-top: 8px;
      display: inline-block;
      text-decoration: none;
      color: $white;
      font-size: 19px;
      border: 1px solid #52a452;
      border-radius: 4px;
      padding: 7px 19px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: linear-gradient(to top, #51a451 0, #61c261 100%);
      text-shadow: 1px 1px 4px rgba(62, 62, 62, 0.75);

      &:hover {
        color: darken($white, 10%);
      }
    }
  }
}