.top-categories {
  height: 40px;
  border-bottom: 1px solid $top-menu-grey1;
}

.top-categories__items {
  height: 100%;

  > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    margin: 0 20px;

    > li {
      flex-grow: 1;
      text-align: center;

      > a {
        display: inline-block;
        height: 100%;
        line-height: 39px;
        vertical-align: center;
        text-decoration: none;
        font-size: 19px;
        color: $top-cat-grey;
      }

      &.active, &:hover {
        background: linear-gradient(to top, #79B260 0, #92d774 100%);

        > a {
          color: $white;
        }
      }
    }
  }
}