.top-menu {
  height: 112px;
  border-bottom: 1px solid $top-menu-grey1;
  background: linear-gradient(to bottom,  rgba(255,255,255,0.08) 0%,rgba(0,0,0,0.08) 100%);

  .top-menu__block {
    display: flex;
    height: 100%;
    padding: 18px 12px;
    justify-content: space-between;
    align-items: center;
  }

  .top-menu__logo {
    display: block;

    img {
      vertical-align: middle;
      width: 136px;
      height: 74px;
    }
  }

  .top-menu__search {
    height: 100%;
    flex-grow: 1;
    position: relative;
  }

  .top-menu__search-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    height: 38px;
    background-color: $top-menu-green;
    border-radius: 4px;
    padding: 4px;
  }

  .top-menu__search-form {
    height: 100%;
    width: 100%;

    > input {
      vertical-align: middle;
      height: 100%;
      width: 73%;
      padding: 0 10px;
      font-size: 23px;
      color: $top-menu-grey3;
    }

    > button {
      vertical-align: middle;
      height: 100%;
      width: 25%;
      cursor: pointer;
      color: white;
      background-color: $top-menu-green;

      img {
        vertical-align: middle;
        width: 24px;
        height: 24px;
        margin-right: 7px;
      }

      span {
        vertical-align: middle;
        font-size: 23px;
      }

      &:hover {
        span {
          color: darken($white, 10%);
        }
      }
    }
  }

  .top-menu__cart {
    height: 100%;
    width: 200px;
  }

  .top-menu__cart-items {
    height: 29px;
    line-height: 29px;
    margin: 7px 0 6px;
    font-size: 0;
    overflow: hidden;

    & > * {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    & img {
      width: 27px;
    }

    & p {
      font-size: 23px;
      margin: 0 5px;
      letter-spacing: -2px;
      color: $top-menu-grey3;
    }

    & span {
      font-size: 13px;
      padding-top: 3px;
      color: $top-menu-grey3;
    }
  }

  .top-menu__cart-price {
    height: 28px;
    white-space: nowrap;
    overflow: hidden;

    p {
      display: inline-block;
      line-height: 28px;
      font-size: 27px;
      font-weight: 600;
      vertical-align: middle;
      color: $top-menu-grey3;
      width: 100px;
      margin: 0 10px 0 0;
      letter-spacing: -2px;
    }

    a {
      display: inline-block;
      line-height: 26px;
      vertical-align: middle;
      background: linear-gradient(to bottom,  #242424 0%,#424242 100%);
      box-shadow: 1px 1px 7px 0 rgba(118,118,118,0.8) inset;
      color: $white;
      text-decoration: none;
      font-size: 15px;
      border-radius: 4px;
      padding: 0 7px;
      border: 1px solid #232323;

      &:hover {
        color: darken($white, 10%);
      }
    }
  }

  .top-menu__wishlist {
    height: 100%;
    width: 118px;
    border-left: 1px solid $top-menu-grey2;

    & > div {
      margin: 15px 0 10px;
      text-align: center;

      a {
        display: inline-block;
        width: 25px;
        height: 25px;
        background: url("/images/star-inactive.png") no-repeat;
      }

      a:hover, a.active {
        background: url("/images/star-active.png") no-repeat;
      }
    }

    p {
      position: relative;
      font-size: 21px;
      line-height: 21px;
      color: $top-menu-grey3;
      text-align: center;
      
      span {
        position: absolute;
        font-size: 13px;
        line-height: 13px;
        right: 0;
        top: -18px;
        padding: 2px 8px;
        color: $white;
        background-color: $top-menu-green;
        border-radius: 12px;
      }
    }
  }
}