<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!--<link rel="stylesheet" href="<%= htmlWebpackPlugin.options.bs[0] %>">-->
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.sl[0] %>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.sl[1] %>">
</head>
<body>
<div class="container">
  <div class="auth-menu">
    <ul class="auth-menu__items wrap">
      <li class="auth-menu__item"><a href="#">Sign in</a></li>
      <li class="auth-menu__item"><a href="#">My Account</a></li>
      <li class="auth-menu__item"><a href="#">Order Status</a></li>
      <li class="auth-menu__item"><a href="#">Help</a></li>
    </ul>
  </div>
  <div class="top-menu">
    <div class="top-menu__block wrap">
      <a class="top-menu__logo" href="#">
        <img src="images/logo.png" alt="logo">
      </a>
      <div class="top-menu__search">
        <div class="top-menu__search-block">
          <form action="#" method="get" class="top-menu__search-form">
            <input type="text" name="search" placeholder="search...">
            <button type="submit"><img src="images/search.png" alt="search"><span>Search</span></button>
          </form>
        </div>
      </div>
      <div class="top-menu__cart">
        <div class="top-menu__cart-items">
          <img src="images/paying/cart.png" alt="">
          <p>Your cart</p>
          <span>(+999 items)</span>
        </div>
        <div class="top-menu__cart-price">
          <p>$99999.9</p><a href="#">Checkout</a>
        </div>
      </div>
      <div class="top-menu__wishlist">
        <div>
          <a href="#"></a>
        </div>
        <p>Wish list<span>20</span></p>
      </div>
    </div>
  </div>
  <div class="top-categories">
    <div class="top-categories__items wrap">
      <ul>
        <li><a href="#">Computers</a></li>
        <li><a href="#">Cooking</a></li>
        <li><a href="#">Education</a></li>
        <li><a href="#">Fiction</a></li>
        <li class="active"><a href="#">Health</a></li>
        <li><a href="#">Mathematics</a></li>
        <li><a href="#">Medical</a></li>
        <li><a href="#">Reference</a></li>
        <li><a href="#">Science</a></li>
      </ul>
    </div>
  </div>
  <div class="breadcrumbs">
    <div class="breadcrumbs__items-wrap wrap">
      <div class="breadcrumbs__items">
        <a href="#">Home</a><span>>></span>
        <a href="#">Discounts and Clearance</a><span>>></span>
        <a href="#">Sonatini Hippeastrum Alaska</a>
      </div>
    </div>
  </div>
  <div class="product-wrap wrap">
    <div class="product">
      <div class="product__instock"></div>
      <div class="product__img">
        <img src="images/products/star-wars.png" alt="">
      </div>
      <div class="product__info">
        <h2>Star Wars Episode I</h2>
        <p>The Star Wars Episode I: The Phantom Menace novelization was written by Terry Brooks and published on April 21, 1999 by Del Rey. It is based on the script of the movie of the same name. Narration for the abridged audio version was performed by Michael Cumpsty. The unabridged version was performed by Alexander Adams. On January 31, 2012, a new paperback edition was released with a new short story, End Game, by James Luceno featured inside.</p>
        <div class="product__price-cart">
          <div class="product__price-cart-wrap">
            <div class="product__price">
              <p class="product__price--cost">Our price : <span>$150</span></p>
              <p class="product__price--save">Was $ 200 Save 20%</p>
            </div>
            <div class="product__cart">
              <button class="product__cart-button">Add to cart</button>
            </div>
          </div>
          <div class="product__info-card">
            <p><img src="images/paying/lock.png" alt="">Safe, Secure Shopping</p>
            <img src="images/paying/paypal.png" alt="">
            <img src="images/paying/master-card-2.png" alt="">
            <img src="images/paying/visa-2.png" alt="">
            <img src="images/paying/american-express-2.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="product__details">
      <div class="product__detail">
        <ul class="product__tabs">
          <li class="product__tab active"><span>Product Information</span></li>
          <li class="product__tab"><span>Other details</span></li>
        </ul>
        <div class="product__tabs-content">
          <div class="product__tab-content active">
            <p>The Star Wars Episode I: The Phantom Menace novelization was written by Terry Brooks and published on April 21, 1999 by Del Rey. It is based on the script of the movie of the same name. Narration for the abridged audio version was performed by Michael Cumpsty. The unabridged version was performed by Alexander Adams. On January 31, 2012, a new paperback edition was
              released with a new short story, End Game, by James Luceno featured inside.
              The Star Wars Episode I: The Phantom Menace novelization was written by Terry Brooks and published on April 21, 1999 by Del Rey. It is based on the script of the movie of the same name. Narration for the
              abridged audio version was performed by Michael Cumpsty. The unabridged version was performed by Alexander Adams. On January 31, 2012, a new paperback edition was released with a new short story, End Game, by James Luceno featured inside. The Star Wars Episode I: The Phantom Menace novelization was written
              by Terry Brooks and published on April 21, 1999 by Del Rey. It is based on the script of the movie of the same name. Narration for the abridged audio version was performed by Michael Cumpsty. The unabridged version was performed by Alexander Adams. On January 31, 2012, a new paperback edition was released with a new short story, End Game, by James Luceno featured inside. The Star Wars Episode I: The Phantom Menace novelization was written by Terry Brooks and published on April 21, 1999 by Del Rey. It is based on the script of the movie of the same name. Narration for the abridged audio version was performed by Michael Cumpsty. The unabridged version was performed by Alexander Adams. On January 31, 2012, a new paperback edition was released with a new short story, End Game, by James Luceno featured inside.</p>
          </div>
        </div>
        <div class="product-review">
          <h2>Product review</h2>
          <div class="product-review__item">
            <div class="product-review__item-user">
              <img src="images/noname-user.png" alt="">
              <p>Name 1</p>
            </div>
            <div class="product-review__item-post">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, animi atque consequuntur cumque ex inventore ipsum laborum libero magni, minus non numquam, officia quaerat quod ullam voluptates voluptatum? Ab, sequi.</p>
            </div>
          </div>
          <div class="product-review__item">
            <div class="product-review__item-user">
              <img src="images/noname-user.png" alt="">
              <p>Name 100500000000</p>
            </div>
            <div class="product-review__item-post">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, rerum!</p>
            </div>
          </div>
          <div class="comment">
            <h2>Write a comment</h2>
            <form class="comment-form" method="post">
              <div class="comment-form__field clearfix">
                <label for="name">Your name</label>
                <input id="name" type="text" name="name">
              </div>
              <div class="comment-form__field clearfix">
                <label for="mail">email</label>
                <input id="mail" type="text" name="mail">
              </div>
              <div class="comment-form__field clearfix textarea">
                <label for="message">Message</label>
                <textarea name="message" id="message"></textarea>
              </div>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
      <div class="product-like">
        <h2>You may also like</h2>
        <div class="product-like__item">
          <div class="product-like__item-img">
            <img src="images/books/book_01.png" alt="">
          </div>
          <div class="product-like__item-img-info">
            <p class="product-like__item-title">The Hare With Amber</p>
            <p class="product-like__item-price">$50</p>
            <a href="#">Read more</a>
          </div>
        </div>
        <div class="product-like__item">
          <div class="product-like__item-img">
            <img src="images/books/book_02.png" alt="">
          </div>
          <div class="product-like__item-img-info">
            <p class="product-like__item-title">The Hare With Amber</p>
            <p class="product-like__item-price">$50</p>
            <a href="#">Read more</a>
          </div>
        </div>
        <div class="product-like__item">
          <div class="product-like__item-img">
            <img src="images/books/book_03.png" alt="">
          </div>
          <div class="product-like__item-img-info">
            <p class="product-like__item-title">The Hare With Amber</p>
            <p class="product-like__item-price">$50</p>
            <a href="#">Read more</a>
          </div>
        </div>
        <div class="product-like__item">
          <div class="product-like__item-img">
            <img src="images/books/book_04.png" alt="">
          </div>
          <div class="product-like__item-img-info">
            <p class="product-like__item-title">The Hare With Amber</p>
            <p class="product-like__item-price">$50</p>
            <a href="#">Read more</a>
          </div>
        </div>
        <div class="product-like__item">
          <div class="product-like__item-img">
            <img src="images/books/book_05.png" alt="">
          </div>
          <div class="product-like__item-img-info">
            <p class="product-like__item-title">The Hare With Amber</p>
            <p class="product-like__item-price">$50</p>
            <a href="#">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider wrap">
    <div class="slider-wrapper">
      <div class="slider-wrapper__prev"><img src="images/slider/prev.png" alt=""></div>
      <div class="slider-wrapper__next"><img src="images/slider/next.png" alt=""></div>
      <div class="owl-carousel">
        <div class="item-img-wrap">
          <a href="#">
            <img class="item-img" src="images/slider/img_1.png" alt="">
            <div class="item-img-title-wrap">
              <p class="item-img-title_01">A Wanted Man</p>
              <p class="item-img-title_02">(Jack Reacher #17)</p>
              <p class="item-img-title_03">By Lee Child</p>
            </div>
          </a>
        </div>
        <div class="item-img-wrap">
          <a href="#">
            <img class="item-img" src="images/slider/img_2.png" alt="">
            <div class="item-img-title-wrap">
              <p class="item-img-title_01">A Wanted Man</p>
              <p class="item-img-title_02">(Jack Reacher #18)</p>
              <p class="item-img-title_03">By Lee Child</p>
            </div>
          </a>
        </div>
        <div class="item-img-wrap">
          <a href="#">
            <img class="item-img" src="images/slider/img_3.png" alt="">
            <div class="item-img-title-wrap">
              <p class="item-img-title_01">A Wanted Man</p>
              <p class="item-img-title_02">(Jack Reacher #19)</p>
              <p class="item-img-title_03">By Lee Child</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="slider-deal">
      <p class="header">Deal of the Month</p>
      <p class="book_name">The Human Face of Big Data</p>
      <div class="book_block">
        <span class="book_base"></span>
        <img src="images/Deal/deal_book.png" alt="" class="book_img">
      </div>
      <p class="book_profit">Save 45% Today</p>
      <p class="book_price">$27.50</p>
      <a class="book_buy" href="#">Buy now</a>
    </div>
  </div>
  <div class="main-content wrap">
    <div class="left-categories">
      <h2 class="left-categories__header">Categories</h2>
      <ul class="left-categories__items">
        <li class="left-categories__item--all"><a href="#">ALL</a></li>
        <li class="left-categories__item--group"><a href="#">Fiction & Literature</a></li>
        <li class="left-categories__item active"><a href="#">Children</a></li>
        <li class="left-categories__item"><a href="#">Science Fiction</a></li>
        <li class="left-categories__item"><a href="#">Fantasy</a></li>
        <li class="left-categories__item"><a href="#">Mystery</a></li>
        <li class="left-categories__item"><a href="#">Romance</a></li>
        <li class="left-categories__item"><a href="#">Horror</a></li>
        <li class="left-categories__item"><a href="#">Poetry</a></li>
        <li class="left-categories__item"><a href="#">Literature</a></li>
        <li class="left-categories__item"><a href="#">Crime</a></li>
        <li class="left-categories__item--group"><a href="#">Non - Fiction</a></li>
        <li class="left-categories__item"><a href="#">Comic</a></li>
        <li class="left-categories__item"><a href="#">Cook</a></li>
        <li class="left-categories__item"><a href="#">Psychology</a></li>
        <li class="left-categories__item"><a href="#">Medical</a></li>
        <li class="left-categories__item"><a href="#">Art</a></li>
        <li class="left-categories__item"><a href="#">Photography</a></li>
        <li class="left-categories__item"><a href="#">Law</a></li>
        <li class="left-categories__item"><a href="#">History</a></li>
        <li class="left-categories__item"><a href="#">Business</a></li>
        <li class="left-categories__item"><a href="#">Computer</a></li>
        <li class="left-categories__item--group"><a href="#">Other</a></li>
        <li class="left-categories__item"><a href="#">Baby</a></li>
        <li class="left-categories__item"><a href="#">Sex</a></li>
        <li class="left-categories__item"><a href="#">Travel</a></li>
        <li class="left-categories__item"><a href="#">Science</a></li>
        <li class="left-categories__item"><a href="#">Sports</a></li>
      </ul>
    </div>
    <div class="books-window">
      <ul class="books-window__tabs">
        <li class="books-window__tab active">Best sellers</li>
        <li class="books-window__tab">New Arrivals</li>
        <li class="books-window__tab">Used Books</li>
        <li class="books-window__tab">Special Offers</li>
      </ul>
      <div class="book-window__content">
        <div class="book-window__items">
          <div class="book-window__item">
            <div class="item__offer">
              <div class="item__offer-wrap">
                <p>30%</p>
                <p>Off</p>
              </div>
            </div>
            <a href="#">
              <div class="item-img__wrap">
                <img src="images/books/book_01.png" alt="">
              </div>
              <div class="item-title"><p>The Hare With Amber Eyes</p></div>
              <div class="item-price"><p>$50</p></div>
            </a>
          </div>
          <div class="book-window__item">
            <div class="item__offer">
              <div class="item__offer-wrap">
                <p>30%</p>
                <p>Off</p>
              </div>
            </div>
            <a href="#">
              <div class="item-img__wrap">
                <img src="images/books/book_02.png" alt="">
              </div>
              <div class="item-title"><p>The Hare With Amber Eyes</p></div>
              <div class="item-price"><p>$50</p></div>
            </a>
          </div>
          <div class="book-window__item">
            <div class="item__offer">
              <div class="item__offer-wrap">
                <p>30%</p>
                <p>Off</p>
              </div>
            </div>
            <a href="#">
              <div class="item-img__wrap">
                <img src="images/books/book_03.png" alt="">
              </div>
              <div class="item-title"><p>The Hare With Amber Eyes</p></div>
              <div class="item-price"><p>$50</p></div>
            </a>
          </div>
          <div class="book-window__item">
            <div class="item__offer">
              <div class="item__offer-wrap">
                <p>30%</p>
                <p>Off</p>
              </div>
            </div>
            <a href="#">
              <div class="item-img__wrap">
                <img src="images/books/book_04.png" alt="">
              </div>
              <div class="item-title"><p>The Hare With Amber Eyes</p></div>
              <div class="item-price"><p>$50</p></div>
            </a>
          </div>
          <div class="book-window__item">
            <div class="item__offer">
              <div class="item__offer-wrap">
                <p>30%</p>
                <p>Off</p>
              </div>
            </div>
            <a href="#">
              <div class="item-img__wrap">
                <img src="images/books/book_05.png" alt="">
              </div>
              <div class="item-title"><p>The Hare With Amber Eyes</p></div>
              <div class="item-price"><p>$50</p></div>
            </a>
          </div>
          <div class="book-window__item">
            <div class="item__offer">
              <div class="item__offer-wrap">
                <p>30%</p>
                <p>Off</p>
              </div>
            </div>
            <a href="#">
              <div class="item-img__wrap">
                <img src="images/books/book_06.png" alt="">
              </div>
              <div class="item-title"><p>The Hare With Amber Eyes</p></div>
              <div class="item-price"><p>$50</p></div>
            </a>
          </div>
          <div class="book-window__item">
            <div class="item__offer">
              <div class="item__offer-wrap">
                <p>30%</p>
                <p>Off</p>
              </div>
            </div>
            <a href="#">
              <div class="item-img__wrap">
                <img src="images/books/book_07.png" alt="">
              </div>
              <div class="item-title"><p>The Hare With Amber Eyes</p></div>
              <div class="item-price"><p>$50</p></div>
            </a>
          </div>
          <div class="book-window__item">
            <div class="item__offer">
              <div class="item__offer-wrap">
                <p>30%</p>
                <p>Off</p>
              </div>
            </div>
            <a href="#">
              <div class="item-img__wrap">
                <img src="images/books/book_08.png" alt="">
              </div>
              <div class="item-title"><p>The Hare With Amber Eyes</p></div>
              <div class="item-price"><p>$50</p></div>
            </a>
          </div>
          <div class="book-window__item">
            <div class="item__offer">
              <div class="item__offer-wrap">
                <p>30%</p>
                <p>Off</p>
              </div>
            </div>
            <a href="#">
              <div class="item-img__wrap">
                <img src="images/books/book_09.png" alt="">
              </div>
              <div class="item-title"><p>The Hare With Amber Eyes</p></div>
              <div class="item-price"><p>$50</p></div>
            </a>
          </div>
          <div class="book-window__item">
            <div class="item__offer">
              <div class="item__offer-wrap">
                <p>30%</p>
                <p>Off</p>
              </div>
            </div>
            <a href="#">
              <div class="item-img__wrap">
                <img src="images/books/book_10.png" alt="">
              </div>
              <div class="item-title"><p>The Hare With Amber Eyes</p></div>
              <div class="item-price"><p>$50</p></div>
            </a>
          </div>
          <div class="book-window__item">
            <div class="item__offer">
              <div class="item__offer-wrap">
                <p>30%</p>
                <p>Off</p>
              </div>
            </div>
            <a href="#">
              <div class="item-img__wrap">
                <img src="images/books/book_11.png" alt="">
              </div>
              <div class="item-title"><p>The Hare With Amber Eyes</p></div>
              <div class="item-price"><p>$50</p></div>
            </a>
          </div>
          <div class="book-window__item">
            <div class="item__offer">
              <div class="item__offer-wrap">
                <p>30%</p>
                <p>Off</p>
              </div>
            </div>
            <a href="#">
              <div class="item-img__wrap">
                <img src="images/books/book_12.png" alt="">
              </div>
              <div class="item-title"><p>The Hare With Amber Eyes</p></div>
              <div class="item-price"><p>$50</p></div>
            </a>
          </div>
          <div class="book-window__item">
            <div class="item__offer">
              <div class="item__offer-wrap">
                <p>30%</p>
                <p>Off</p>
              </div>
            </div>
            <a href="#">
              <div class="item-img__wrap">
                <img src="images/books/book_13.png" alt="">
              </div>
              <div class="item-title"><p>The Hare With Amber Eyes</p></div>
              <div class="item-price"><p>$50</p></div>
            </a>
          </div>
          <div class="book-window__item">
            <div class="item__offer">
              <div class="item__offer-wrap">
                <p>30%</p>
                <p>Off</p>
              </div>
            </div>
            <a href="#">
              <div class="item-img__wrap">
                <img src="images/books/book_14.png" alt="">
              </div>
              <div class="item-title"><p>The Hare With Amber Eyes</p></div>
              <div class="item-price"><p>$50</p></div>
            </a>
          </div>
          <div class="book-window__item">
            <div class="item__offer">
              <div class="item__offer-wrap">
                <p>30%</p>
                <p>Off</p>
              </div>
            </div>
            <a href="#">
              <div class="item-img__wrap">
                <img src="images/books/book_15.png" alt="">
              </div>
              <div class="item-title"><p>The Hare With Amber Eyes</p></div>
              <div class="item-price"><p>$50</p></div>
            </a>
          </div>
        </div>
        <div class="book-window__pagination">
          <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">100500</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-cat">
      <div class="footer-cat__items wrap">
        <div class="footer-cat__item">
          <h2>Biography & True Stories</h2>
          <ul>
            <li><a href="#">General</a></li>
            <li><a href="#">Diaries, Letters & Journals</a></li>
            <li><a href="#">Memoirs</a></li>
            <li><a href="#">True Stories</a></li>
            <li><a href="#">Generic Exams</a></li>
            <li><a href="#">GK Titles</a></li>
            <li><a href="#">Medical Entrance</a></li>
            <li><a href="#">Other Entrance Exams</a></li>
            <li><a href="#">PG Entrance Examinations</a></li>
            <li><a href="#">Self-help Titles</a></li>
            <li><a href="#">Sociology</a></li>
          </ul>
        </div>
        <div class="footer-cat__item">
          <h2>Professional &amp; Reference</h2>
          <ul>
            <li><a href="#">Academic and Reference</a></li>
            <li><a href="#">Business Trade</a></li>
            <li><a href="#">Engineering and Computer Science</a></li>
            <li><a href="#">Humanities, Social Sciences and Languages</a></li>
            <li><a href="#">Introduction to Computers</a></li>
            <li><a href="#">Science and Maths</a></li>
            <li><a href="#">Trade Business</a></li>
            <li><a href="#">English Language & Literature</a></li>
            <li><a href="#">English Language Teaching</a></li>
            <li><a href="#">Environment Awareness</a></li>
            <li><a href="#">Environment Protection</a></li>
          </ul>
        </div>
        <div class="footer-cat__item">
          <h2>Earth Sciences</h2>
          <ul>
            <li><a href="#">Earth Sciences</a></li>
            <li><a href="#">Geography</a></li>
            <li><a href="#">The Environment</a></li>
            <li><a href="#">Regional & Area Planning</a></li>
            <li><a href="#">Fantasy</a></li>
            <li><a href="#">Gay</a></li>
            <li><a href="#">Humorous</a></li>
            <li><a href="#">Interactive</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Lesbian</a></li>
            <li><a href="#">Men'S Adventure</a></li>
            <li><a href="#">Movie Or Television Tie-In</a></li>
            <li><a href="#">Mystery & Detective</a></li>
            <li><a href="#">Political</a></li>
          </ul>
        </div>
        <div class="footer-cat__item">
          <h2>Mathematics</h2>
          <ul>
            <li><a href="#">Algebra</a></li>
            <li><a href="#">Differential Equations</a></li>
            <li><a href="#">Discrete Mathematics</a></li>
            <li><a href="#">Fourier Analysis</a></li>
            <li><a href="#">Numerical Analysis</a></li>
            <li><a href="#">Probability</a></li>
            <li><a href="#">Statistical Methods/data Analysis</a></li>
            <li><a href="#">Stochastic And Random Processes</a></li>
            <li><a href="#">Topology</a></li>
            <li><a href="#">Statistics</a></li>
            <li><a href="#">Mathematics</a></li>
            <li><a href="#">Statistical Methods</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-paying">
      <p>We accept all major Credit Card/Debit Card/Internet Banking</p>
      <img src="images/paying/master-card.png" alt="">
      <img src="images/paying/american-express.png" alt="">
      <img src="images/paying/visa.png" alt="">
    </div>
    <div class="footer-copyright">
      <p>Conditions of Use Privacy Notice © 2012-2013, Booksonline, Inc. or its affiliates</p>
    </div>
  </div>
</div>
<script src="<%= htmlWebpackPlugin.options.jq %>"></script>
<!--<script src="<%= htmlWebpackPlugin.options.bs[1] %>"></script>-->
<script src="<%= htmlWebpackPlugin.options.sl[2] %>"></script>
</body>
</html>